<div class="bloc-600 text-center mx-auto">
  <h2>Modifier les informations relatives au produit.</h2>
  <%= form_for([:admin, @item]) do |f|%>

    <div class="form mb-4">
      <%= f.label 'Changer le nom du chat.' %>
      <br/>
      <%= f.text_field :name, class: "form-control", placeholder: "Entrez le nom du chat." %>
    </div>

    <div class="form mb-4">
      <%= f.label 'Modifier le prix.' %>
      <br/>
      <%= f.number_field :price, class: "form-control", placeholder: "Entrez son prix." %>
    </div>

    <div class="form mb-4">
      <%= f.label 'Modifier la description.' %>
      <br/>
      <%= f.text_area :description, class: "form-control", placeholder: "Entrez sa description." %>
    </div>

    <div class="form mb-4">
      <%= f.submit "Envoyer", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>