<div class="bloc-600 text-center mx-auto">
  <h4>Modifier mes informations</h4>
<br>
<br>
  <%= form_for @user, multipart: true do |f| %>
  
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mb-4' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <i>Nouveau mot de passe</i><br>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %> 
      <br>
    </div>

    <div class="field">
      <i>Confirmer le nouveau mot de passe</i><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
      <br>
    </div>

    <div class="field">
      <i>Mot de passe actuel</i><br>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control'%>
    </div>

    <div class="form mb-4">
          <h3>Changer d'avatar ?</h3>
        <%= form_tag user_avatars_path(@user), multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "mettre à jour" %>
        <% end %>
          </div>

    <div class="actions">
      <br>
      <%= f.submit "changer mes informations", class: 'btn btn-primary'%>
    </div>
  <% end %>

  <h3 class="mt-5">Supprimer mon compte</h3>

  <p>Vous ne souhaitez plus avoir un compte sur notre de site de photos de chats méga-pas-mignons ? D'accord... <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-primary' %></p>
<br>
<br>
  <%= link_to "Retour à l'accueil", :back %>
</div>