<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
    
    <h5 class="pb-5">Mes informations</h5>
    <h6>Mon nom : <%= current_user.last_name %> </h6>
    <h6>Mon prénom : <%= current_user.first_name %> </h6>
    <h6>Mon mail : <%= current_user.email %></h6>
    
    <div class=" p-5"><%= link_to "Modifier mes informations", edit_user_registration_path, class:"btn btn-outline-primary" %>
  </div>
  </div>
    </div>
    <div class="col">
     <h5 class="pb-5">Mes commandes précédentes</h5>
     <%@order.each do |order|%>
       <p><%=order.id%> <%=order.total.price%> 

      <%end%>
    </div>
  </div>
  
  
  
