<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
    
    <h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
    <h2 class="h3"> <%= @user.email %></h2>
    <%@orders.each do |order|%>
      <h3>Numéro d'order :
      <%=link_to "#{order.id}", user_order_path(user_id: @user.id, id: order.id) %> </h3>
    <%end%>
    <%= link_to "Modifier son adresse mail et mot de passe", edit_user_registration_path, class:"btn btn-outline-primary" %>
  </div>
  
  
  
