<h2>Récaputilatif de ma commande</h2>

<p>Mon numéro de panier : <%=@order.cart_id%></p>
<p>Mon numéro d'user : <%=current_user.id%>

<%@cart_items.each do |cart_item|%>
  <p><%=cart_item.item.id%> <%=cart_item.item.name%> <%=cart_item.item.price%> 
<%end%>

<%= form_tag cart_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Payer <%=@total%> €</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Ma commande de photos de chatons"
          data-amount="<%= @total * 100 %>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>