<h2>Mon panier</h2>

<%@cart_items.each do |cart_item|%>
  
  <p><%=cart_item.item.name%> <%=cart_item.item.price%> 
  <%= link_to 'Retirer du panier', cart_item_path(cart_item_id: cart_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<%end%>

<p>Total : <%=@total%></p>

<%= form_tag cart_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Payer <%=@total%> €</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Ma commande de photos de chatons"
          data-amount="<%= @total * 100 %>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>