<div class="container py-3 px-md-5">
  <h2>Mon panier</h2>
</div>

<%@cart_items.each do |cart_item|%>
  
  <div class="row m-2">
    <div class="card bg-secondary col-sm-3">
      <div class="card-body text-center">
        <img src="<%=cart_item.item.img_link%>" class="img-rounded" alt="Kitten" style="width:50px;">
      </div>
    </div>
    <div class="card bg-secondary col-sm-4">
      <div class="card-body text-center">
        <p class="card-text"><%=cart_item.item.name%> </p>
      </div>
    </div>
    <div class="card bg-secondary col-sm-2">
      <div class="card-body text-center">
        <p class="card-text"><%=cart_item.item.price%></p>
      </div>
    </div>
    <div class="card bg-secondary col-sm-3">
      <div class="card-body text-center">
        <p class="card-text"><%= link_to 'Retirer du panier', cart_item_path(cart_item_id: cart_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  </div>

<%end%>

<div class="d-flex justify-content-end my-5">
    <h5 class="h3">Total : <%=@total%></h5>
</div>

<div class="row d-flex justify-content-end">
  <%= link_to 'Continuer mes achats', root_path, class: 'btn btn-secondary mr-2'%>
  <%= link_to "Passer la commande",orders_path(cart_id: @cart_items.first.cart_id), class:"btn btn-success", method: "post", class: 'btn btn-primary' %>
</div>
