<h2>Mon panier</h2>

<%@cart_items.each do |cart_item|%>
  
  <p><%=cart_item.item.name%> <%=cart_item.item.price%> 
  <%= link_to 'Retirer du panier', cart_item_path(cart_item_id: cart_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<%end%>

<p>Total : <%=@total%></p>

<p><%= link_to "Passer la commande",orders_path(cart_id: @cart_items.first.cart_id), class:"btn btn-success", method: "post" %></p>
