
<div class="container my-5 text-center">
  <h1><%= @item.name %></h1>
  <p>Description  : <%= @item.description %> </p>
  <p><img src="<%=@item.img_link%>" alt="Kitten" style="width:auto;"> <p>
  <p class="h3 mb-5">Prix : <%=@item.price%> </p>

  <h3>Photo </h3>
<%if @item.photo.attached?%>
  <%= image_tag @item.photo, alt: 'photo' %>
<%else%>
  <p>=== Il n'y a pas encore d'image lié à cet item ===</p>
<%end%>
<%if user_signed_in? == true%>
  <%if is_admin(current_user)%>
    <%= link_to "Modifier les informations du produit", edit_admin_item_path(@item), class:"btn btn-warning" %>
  <%end%>
    <%= link_to "Ajouter au panier",cart_items_path(cart_id: Cart.find_by(user_id: current_user.id), item_id: @item.id), class:"btn btn-success", method: "post" %>
  <%end%>
  <br>
  <br>

      <%= form_tag item_photos_path(@item), multipart: true do %>
        <%= file_field_tag :photo %>
        <%= submit_tag "mettre à jour" %>
      <% end %>

<%= link_to "Retourner sur la page d'accueil", root_path, class:"btn btn-outline-secondary"%>
</div>